body {
    // background-image: url('/images/truck.jpg');
    background: url("/images/truck.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    // background-size: 100%;
    // background-repeat: no-repeat;
}

.containerTwo {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "m m" "a c" "f f";
}

.title {
    font-size: 100px;
    color: white;
    // font-family: 'Risque', cursive;
    text-align: center;
    margin-top: 0;
    font-family: 'Anton', sans-serif;
    // font-family: 'Abril Fatface', cursive;
}

.menuTwo {
    text-align: center;
    grid-area: m;
}

a {
    padding: 45px;
    font-size: 20px;
    color: wheat;
    text-decoration: none;
}

.contentTwo {
    grid-area: a;
    color: black;
    text-align: center;
}

.contentThree {
    grid-area: c;
    color: yellow;
    text-align: center;
}

.footer {
    grid-area: f;
    text-align: center;
}

th {
    text-decoration: underline;
}

td,
th {
    padding: 10px;
}

.item {
    border: 5px solid red;
}

// .links {
//     font-size: 20px;
//     text-align: right;
//     margin-top: 3px;
//     display: grid;
//     grid-row: 1 / 1;
// }
@media screen and (max-width: 480px) {
    .title {
        grid-column: span 6;
    }
    .menuTwo {
        grid-row: 1;
        grid-column: span 6;
    }
    .contentTwo {
        grid-column: span 12;
    }
    .contentThree {
        grid-column: span 12;
    }
    .footer {
        grid-column: span 6;
    }
}