body {
    // background-image: url('/images/truck.jpg');
    background: url("/images/truck.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    // background-size: 100%;
    // background-repeat: no-repeat;
}

.miniContainer {
    background: black;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: 100px;
    grid-template-areas: "h h";
}

.containerTwo {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 100px 1fr 1fr 100px 1fr 200px 250px 1fr;
    grid-template-areas: "m m" "d d" "z z" "x x" "b b" "a a" "y y" "c c" "f f";
}

#containerEmpty {
    height: 115px;
    display: grid;
    grid-area: b;
}

#containerEmptyTwo {
    height: 100px;
    display: grid;
    grid-area: y;
}

#logo {
    position: absolute;
    top: -49px;
    // left: 523px;
    // width: 150px;
    // display: grid;
    // grid-area: h;
}

.menuTwo {
    background: black;
    text-align: center;
    grid-area: m;
}

.motto {
    grid-area: z;
    text-align: center;
    font-size: 100px;
    color: black;
}

.links {
    margin: 45px;
    font-size: 20px;
    color: 0bfbfb;
    text-decoration: none;
}

.links:hover {
    color: wheat;
}

.backToTop {
    color: blue;
    font-size: 20px;
}

.backToTop:hover {
    color: blue;
}

#About {
    grid-area: a;
    color: black;
    text-align: center;
    // background: url("/images/groupfist.jpg");
    background-color: honeydew;
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
}

p {
    font-size: 30px;
    padding: 5px;
    padding-top: 0;
    font-family: 'Raleway', sans-serif;
}

#contentThree {
    grid-area: c;
    color: black;
    text-align: center;
    background-color: honeydew;
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
    // margin-bottom: -10px;
}

.vemail {
    color: blue;
    font-size: 30px;
    margin-left: 10px;
}

.vemail:hover {
    color: blue;
}

.fa {
    // padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    color: inherit;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-slack {
    background: #007bb5;
    color: white;
}

.footer {
    grid-area: f;
    text-align: center;
}

th {
    text-decoration: underline;
}

td,
th {
    padding: 10px;
}

.item {
    border: 5px solid red;
}

@media screen and (max-width: 480px) {
    .title {
        grid-column: span 6;
    }
    .menuTwo {
        grid-row: 1;
        grid-column: span 6;
    }
    .contentTwo {
        grid-column: span 12;
    }
    .contentThree {
        grid-column: span 12;
    }
    .footer {
        grid-column: span 6;
    }
}

// app.blade //
#logoLogin {
    position: absolute;
    top: -28px;
    width: 100px;
}